.wrapper {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper:hover {
  box-shadow: 3px 3px 0 0 #64ffda;
  transform: translate(-4px, -4px);
}

.wrapper:active {
  box-shadow: 1px 1px 0 0 #64ffda;
  transform: translate(-2px, -2px);
  transition: all 0.1s ease;
}
